html, body, h1, h2, h3, h4, ul, ol, li, p, a, label {
    font-family: "georgia", helvetica, sans-serif;
}

img {
	border-radius: 1%;
}
p {
	font-size: 20px;
}

body {
	background: url(../images/motivational_monday.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	background-position:center center;	
	height: 100%;
	background-attachment: fixed;
	min-height: 500px;		
}

.landing {
	height:100vh;
}

.navbar {
	background-color: #3393D0;
	padding-bottom: 10px;
}

.navbar-header {
	margin-bottom: 20px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand  {
	color:white;
}

.motivationalmonday > h1 {
	color: white;

}

.bottomsection {
	background: linear-gradient(#0055ff, #001a4d);
	position: fixed;
	bottom:0;
	left: 0;
	width: 100%;
}


@media only screen and (max-width : 768px) {
.navbar-default .navbar-nav > li > a, .navbar-nav .dropdown-menu  > li > a   {
	color:black;
	background-color: white;
}

}

.subscribePage img {
	width:80%;
	margin:5% 5%;
	max-height: 500px;
	max-width: 500px;
}
