html, body, h1, h2, h3, h4, ul, ol, li, p, a, label {
    font-family: "georgia", helvetica, sans-serif;
}

img {
	border-radius: 1%;
}
p {
	font-size: 20px;
}

body {
	background-color:#F9F9F9;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.landing {
	height:100vh;
}

.navbar {
	background-color: #3393D0;
}

.navbar-header {
	margin-bottom: 20px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand  {
	color:white;
}


.subscribePage img {
	width:80%;
	margin:5% 5%;
	max-height: 500px;
	max-width: 500px;
}

.motivationalmonday img {
    position:relative;
    display:inline-block;
    text-align:center;
}

.button {
    position:absolute;
    top:2%;
    right:50%;
/**    width:100px;
    height:30px;**/
}

.motivationalmonday {
	margin-bottom: 10px;

}

.adventures {
	margin: 0 10px 0 0;

}

.blog {
	background: url(../images/thoughts_and_ideas.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	background-position:center center;	
	
}



@media only screen and (max-width : 768px) {
.navbar-default .navbar-nav > li > a, .navbar-nav .dropdown-menu  > li > a   {
	color:black;
	background-color: white;
}

}


