html body, h1, h2, h3, h4, ul, ol, li, p, a, label {
    font-family: "georgia", helvetica, sans-serif;
    color: white;
}

html,body {
    height:100%;
}

img {
	border-radius: 1%;
}
p {
	font-size: 20px;
}

body {
	background: url(../images/motivational_monday.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	background-position:center center;	
	height: 100%;
	background-attachment: fixed;
	min-height: 500px;		
}

.logo img {
	max-height: 80px;
}


.landing {
	height:100vh;
}



.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; 

  display: flex;
  align-items: center;
 }

.testimonial {
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 2%
}

#fieldName, #fieldEmail {
	color: black;
}

.overview {
	margin-bottom: 15%;
	margin-top: 5%;
}


.quote {
    font-style: italic;
    margin-bottom: 25px;
}

.bottomsection {
	background-color:#3393D0;	
	position: fixed;
	bottom:0;
	left: 0;
	width: 100%;
}

.bottomsection li {
	display: inline-block;
	padding: 10px;
	margin: 10px;	
	border-bottom: 1px solid white;	

}

.bottomsection a {
	font-size: 1.5em;
}



@media only screen and (max-width : 768px) {
.navbar-default .navbar-nav > li > a, .navbar-nav .dropdown-menu  > li > a   {
	color:black;
	background-color: white;
}

}
/**for text at bottom to be responsive**//
@media only screen and (max-width : 775px) {
.bottomsection a {
	font-size: 1em;
	}
}

@media only screen and (max-width : 420px) {
.overview {
	margin-bottom: 45%;
}	

}


@media only screen and (max-width : 380px) {
.bottomsection a {
	font-size: .5em;
	}
.overview {
	margin-bottom: 45%;
}	
}



/**for text at bottom to be responsive**//

.subscribePage img {
	width:80%;
	margin:5% 5%;
	max-height: 500px;
	max-width: 500px;
}
