    html body,
h1,
h2,
h3,
h4,
ul,
ol,
li,
p,
a,
label {
    font-family: "georgia", helvetica, sans-serif;
}

    .homepage html, .homepage body,
.homepage h1,
.homepage h2,
.homepage h3,
.homepage h4,
.homepage ul,
.homepage ol,
.homepage li,
.homepage p,
.homepage a,
.homepage label {
    color: white;
}


html,
body {
    height: 100%;
    overflow-x: hidden;    
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */                  /*not currently being used*/
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#mce-error-response a {
    color:#39453D;
}

img {
    border-radius: 1%;
}

.nav img {
    border-radius: 0%;
}

.navbar {
    border-radius: 0px !important ;  
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-style: none;
}

.navbar-toggle {
    /**to center button toggle**/
    float: none;
    margin-right: 0px;
}

.head {
  background: linear-gradient(to right, #3868c7 0%,#66b4fc 100%);
}

.head li {
    display: inline-block;
    padding: 0px 10px;
    margin: 5px 10px;
}

.head a {
    font-size: 1.5em;
}

.homepage {
    background: url(../images/motivational_monday.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 500px;
}

.overview {
    margin-top: 5%;
}

.overview p {
    font-size: 1.2em;
    margin-top: 2.5%;
}

.homequote {
    font-style: italic;
}

.homequote h1 {
    font-size: 5em;
    text-indent: -0.4em;
    line-height: 1em;
    letter-spacing: -3px;
}


.motivationalmonday {
    margin-top: 8%;
    margin-bottom: 2.5%;
}


#mce-EMAIL {
    color: black;
    margin-left: 20px;
}

.mmsubtext u {
    color: #659bf2;
}
.socialProof b {
    color: #659bf2;
}
.subscribebtn {
    width: 70%;
    margin-top: 2.5%;
    font-size: 1.5em;
    font-weight: bold;
    min-width: 250px;
}

#mce-success-response, #mce-error-response {
    color: #3a85ff;
}

@media only screen and (max-width: 770px) {
    .subscribebtn {
        width: 100%;
    }
}

@media only screen and (max-width: 420px) {
    .overview {
        margin-bottom: 20%;
    }
    .subscribebtn {
        width: 100%;
    }
    .homequote h1 {
        font-size: 4.5em;
    }
}

@media only screen and (max-width: 380px) {
    .homequote h1 {
        font-size: 4em;
    }
    @media only screen and (max-width: 325px) {
        #mce-EMAIL {
            margin-left: 0px;
        }
        .homequote h1 {
            font-size: 3em;
        }
    }
    .subscribePage img {
        width: 80%;
        margin: 5% 5%;
        max-height: 500px;
        max-width: 500px;
    }
}

/** styling for blog page**/

.blogintrocaption {
    top:0;
    left:45px;
    position: absolute;
    max-width: 95%;
}

.blog h1, .blog h2, .blog h3, .blog p, .blog h1 {
    padding:0 2%;
    color: black;
}

.continue {
    margin-bottom: 5%;
}

.blogposts img{
    margin-bottom: 2%;
}

.blogintroimg:hover {
    box-shadow: 0 .5em 2em rgba(0,0,0,0.4);
}

.subscribe{
    margin-top: 30px;
}

.post {
    line-height:1.7 !important;
    margin-bottom: 2%
}

.highlights p {
    line-height: 1.4;
    margin-bottom: 1%;
    font-size: 1.2em;
}

.lead {
    margin-top: 2%;
}

.subscribeblog {
    color: black;
}

                                                    /**single post page styling**/

.singlepagepost img {
    margin-bottom: 3%;
}

.singlepagepost h2 {
    color: #999;
    padding: 1% 0 0 2%;
}

.singlepagepost p{
    padding:1% 0;
}

.singlepagepost {
    line-height: 30px;
}

.quote {
    padding-left: 5%;
}

.quote p {
    padding-top: 0;

}

.quote h2 {
    padding-left: 0;

}
.cta {
    padding: 3%;
    background-color: #DDD;
    border-radius: 3%;
}

.imagewrap {
    margin-right: 1%;
    padding-bottom: 0;
}
