    html body,
h1,
h2,
h3,
h4,
ul,
ol,
li,
p,
a,
label {
    font-family: "georgia", helvetica, sans-serif;
}

    .homepage html, .homepage body,
.homepage h1,
.homepage h2,
.homepage h3,
.homepage h4,
.homepage ul,
.homepage ol,
.homepage li,
.homepage p,
.homepage a,
.homepage label {
    color: white;
}


html,
body {
    height: 100%;
    overflow-x: hidden;    
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */                  /*not currently being used*/
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#mce-error-response a {
    color:#39453D;
}

img {
    border-radius: 1%;
}

.topbanner {
    background-color:   #FFF;
    padding-top: 10px;   
    float:none; 
}

.container {
    margin-top: 10px;
}
.logo {
        

    font-family: 'Special Elite', cursive;
    color:#000000;
    font-size:42px;
    text-transform:capitalize;
    font-weight:bold;

}

.tagline {
    padding-left:120px;
    font-family: 'Special Elite', cursive;   
    color:#1CA1E1;
    font-size:24px;
    margin-top:15px;
    font-style:italic;

}

.navbar-nav {
    width:100%;
}

.subscribeblog a {
 margin-right:  15px;
}

.subscribeblog li {
    margin-top:     15px;
display:    inline; 
    list-style-type: none;
}

.bullet {
    text-decoration: underline;
    font-size:  1.24em;
}
nav {
    background-color:#1CA1E1;
}
nav a {
    font-family: 'Lato', sans-serif;
    font-weight:700;
    color:#FFF;
    font-size:20px;
    text-transform:capitalize;
    padding: 10px 25px;
}
nav a:hover {
    color:#e8ab54;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-style: none;
}

.navbar-toggle {
    /**to center button toggle**/
    float: none;
    margin-right: 0px;
}

.head a {
    font-size: 1.5em;
}

@media (max-width: 1199px) {    
    .logo{font-size : 2.3em;}         
}

@media (max-width: 991px) {
    .tagline{font-size: 1.5em;}
    .tagline {margin-top: 0px;}
    .head a {font-size:   1.5em;}   
}


@media (max-width: 590px) {
    .head {font-size:   2em;}   


}

@media (max-width: 565px) {
    .head a {font-size:   1.2em;}   
    .logo{font-size : 1.3em;}  
    .logoimg {max-height: 40px;}  
    .box { margin-left:10%; margin-top:     0px;}   
    nav a {font-size:   .6em;}
   
}

@media (max-width: 321px) {
    .head a {font-size:   .9em;}   

}

/*@media (max-width: 415px) {
    .topbanner {padding-top: 80px; }   

}

@media (max-width: 321px) {
    .topbanner {padding-top: 120px; }   

}*/
   


.head li {
    display: inline-block;
    padding: 0px 10px;
    margin: 5px 10px;
}

.logoimg {
        margin-bottom: 7px;
}

.winner h2 {
    color: blue !important ;
}
.homepage {
    background: url(../images/motivational_monday.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    min-height: 500px;
}

.overview {
    margin-top: 5%;
}

.overview p {
    font-size: 1.2em;
    margin-top: 2.5%;
}

.homequote {
    font-style: italic;
}

.homequote h1 {
    font-size: 5em;
    text-indent: -0.4em;
    line-height: 1em;
    letter-spacing: -3px;
}


.motivationalmonday {
    margin-top: 8%;
    margin-bottom: 2.5%;
}


#mce-EMAIL {
    color: black;
    margin-left: 20px;
}

.mmsubtext u {
    color: #659bf2;
}
.socialProof b {
    color: #659bf2;
}
.subscribebtn {
    width: 70%;
    margin-top: 2.5%;
    font-size: 1.5em;
    font-weight: bold;
    min-width: 250px;
}

#mce-success-response, #mce-error-response {
    color: #3a85ff;
}

@media only screen and (max-width: 770px) {
    .subscribebtn {
        width: 100%;
    }
}

@media only screen and (max-width: 420px) {
    .overview {
        margin-bottom: 20%;
    }
    .subscribebtn {
        width: 100%;
    }
    .homequote h1 {
        font-size: 4.5em;
    }
}

@media only screen and (max-width: 380px) {
    .homequote h1 {
        font-size: 4em;
    }
    @media only screen and (max-width: 325px) {
        #mce-EMAIL {
            margin-left: 0px;
        }
        .homequote h1 {
            font-size: 3em;
        }
    }
    .subscribePage img {
        width: 80%;
        margin: 5% 5%;
        max-height: 500px;
        max-width: 500px;
    }
}

                                                                                                                                                /** styling for blog page**/


.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.blogintrocaption {
    top:0;
    left:45px;
    position: absolute;
    max-width: 95%;
}

.blog h1, .blog h2, .blog h3, .blog p, .blog h1 {
    padding:0 2%;
    color: black;
}

.continue {
    margin-bottom: 5%;
}

.blogposts img{
    margin-bottom: 2%;
}

.blogintroimg:hover {
    box-shadow: 0 .5em 2em rgba(0,0,0,0.4);
}

.subscribe{
    margin-top: 30px;
}

.post {
    line-height:1.7 !important;
    margin-bottom: 2%
}

.highlights p {
    line-height: 1.4;
    margin-bottom: 1%;
    font-size: 1.2em;
}

.lead {
    margin-top: 2%;
}

.lead p {
    padding: 0px;
}

.subscribeblog {
    color: black;
}

                                                    /**single post page styling**/


.about p {
        line-height: 1.4;
    margin-bottom: 4%;
    font-size: 1.3em;
}

.singlepagepost img {
    margin-bottom: 3%;
    max-height: 250px;
}

.singlepagepost h2 {
    color: #999;
    padding: 1% 0 0 2%;
}

.notes {
        color: #b52c0f;
    font-size: 20px;
    font-weight: bolder;
}


.singlepagepost p{
    padding:1.5% 0;
}

.purchase {font-size: 20px;}

.singlepagepost {
    line-height: 30px;
}

.quote {
    padding-left: 5%;
}

.quote p {
    padding-top: 0;

}

.quote h2 {
    padding-left: 0;

}
.cta {
    padding: 3%;
    background-color: #DDD;
    border-radius: 3%;
}

.imagewrap {
    margin-right: 1%;
    padding-bottom: 0;
}
